- form.inputs do
  = form.input :station_id, :label => 'Station'
  = form.input :stratum, :label => 'Stratum'
  = form.input :stratum_secondary, :label => 'Stratum secondary'
  = form.input :lat, :label => 'Lat'
  = form.input :lng, :label => 'Lng'
