#synonymForm
  - form.inputs do
    = form.label  :"Old ID"
    %br/
    = form.text_field :old
    %br/
    %br/
    = form.label  :'SCAMIT ID'
    %br/
    = form.text_field :scamit
    %br/
    %br/
    = form.label  :'Genus'
    %br/
    = form.text_field :genus 
    %br/
    %br/
    = form.label  :Species
    %br/
    = form.text_field :species
    %br/
    %br/
    = form.label  :Describer
    %br/
    = form.text_field :describer
    %br/
    %br/
    = form.input :dateadded
    %br/
    %br/
    = form.label  :Comments
    %br/
    = form.text_area :comments
    %br/
    %br/
    = form.label  :"Species list sort"
    %br/
    = form.text_field :specieslistsort
    %br/
    %br/
    = form.label  :"Species list sort"
    %br/
    = form.text_field :specieslistsort
    %br/
    %br/
    = form.check_box :chkgenred
    = form.label  :"Check Genred"
    %br/
    %br/
    = form.check_box :chkspred
    = form.label  :"Check Spred"
    %br/
    %br/
    = form.check_box :chkauth
    = form.label  :"Check Authorization"
    
    
/    - form.inputs do
/       = form.input :old, :label => 'Old ID'
/       = form.input :species, :label => 'Species'
/       = form.input :scamit, :label => 'SCAMIT ID'
/       = form.input :genus, :label => 'Genus'
/       = form.input :species, :label => 'Species'
/       = form.input :describer, :label => 'Describer'
/       = form.input :dateadded, :label => 'Dateadded'
/       = form.input :comments, :label => 'Comments'
/       = form.input :specieslistsort, :label => 'Specieslistsort'
/       = form.input :chkgenred, :label => 'Chkgenred'
/       = form.input :chkspred, :label => 'Chkspred'
/       = form.input :chkauth, :label => 'Chkauth'

    