- form.inputs do
  = form.input :sort, :label => 'Sort'
  = form.input :scamit, :label => 'Scamit'
  = form.input :phylum, :label => 'Phylum'
  = form.input :subphylum, :label => 'Subphylum'
  = form.input :theclass, :label => 'Class'
  = form.input :subclass, :label => 'Subclass'
  = form.input :infraclass, :label => 'Infraclass'
  = form.input :superorder, :label => 'Superorder'
  = form.input :order, :label => 'Order'
  = form.input :suborder, :label => 'Suborder'
  = form.input :infraorder, :label => 'Infraorder'
  = form.input :superfamily, :label => 'Superfamily'
  = form.input :family, :label => 'Family'
  = form.input :subfamily, :label => 'Subfamily'
  = form.input :genus, :label => 'Genus'
  = form.input :subgenus, :label => 'Subgenus'
  = form.input :species, :label => 'Species'
  = form.input :describer, :label => 'Describer'
  = form.input :red, :label => 'Red'
  = form.input :bold, :label => 'Bold'
  = form.input :nonstandarditalic, :label => 'Nonstandarditalic'
  = form.input :authorred, :label => 'Authorred'
  = form.input :subgenusred, :label => 'Subgenusred'
