- if logged_in?
  %div#user-bar-greeting
    Logged in as
    = link_to_current_user :content_method => :login
  %div#user-bar-action
    = "(#{link_to "log out", logout_path, { :title => "Log out" }})"
- else
  %div#user-bar-greeting
    = abbr_tag_with_IP 'Not logged in', :style => "border: none;"
  %div#user-bar-action
    = link_to "Log in", login_path
    = "/" + link_to "Sign up", signup_path, { :title => "Create an account" }
