.welcomeFont
  = "Users"
#contentNoSidebar
  %h1
  %br
  %p.actions
    = link_to 'New User', new_user_path
  %br
  = will_paginate(@users)
  %br
  #tableMargin  
    %table
      %thead.header
        %tr
          %th.login= 'Login'
          %th.name= 'Name'
          %th.email= 'Email'
          %th.address= 'Address'
          %th.phone= 'Phone'
          %th.affiliation= 'Affiliation'
          %th.role= 'Role'
          %th.title= 'Title'
          %th.activation_code= 'Activation code'
          %th.actions= 'Actions'
      %tbody.items.users
        - @users.each do |user|
          = render 'item', :user => user
  %br
  = will_paginate(@users)
  %br
  %br