- form.inputs do
  = form.input :upload_file_name, :label => 'Upload file name'
  = form.input :upload_file_size, :label => 'Upload file size'
  = form.input :upload_content_type, :label => 'Upload content type'
  = form.input :upload_created_at, :label => 'Upload created at'
  = form.input :user, :label => 'User'
  = form.input :comment, :label => 'Comment'
